<footer class="bg-azul-marino py-6">
  <div class="mx-auto flex max-w-7xl justify-between">
    <section class="flex flex-col gap-4">
      <div class="flex gap-3">
        <img class="h-12 w-auto object-cover" src="/logo_buap.png" alt="Logo BUAP letras">
        <div class="text-xs text-azul-cielo">
          <span><strong>Benemérita Universidad Autónoma de Puebla</strong></span>
          <address>4 Sur 104 Centro Histórico C.P. 72000</address>
          <span>Télefono <a href="tel:+52 (222) 229 55 00">+52 (222) 229 55 00</a></span>
        </div>
      </div>

      <div class="flex gap-3">
        <img class="h-12 w-auto" src="/aviso_1.png" alt="Aviso 1">
        <img class="h-12 w-auto" src="/aviso_2.png" alt="Aviso 2">
      </div>
    </section>


    <section class="flex flex-col text-center text-sm font-medium text-azul-cielo">
      <a href="https://transparencia.buap.mx/" target="_blank">Transparencia y Acceso a la Información</a>
      <a href="https://contraloriasocial.buap.mx/" target="_blank">Contraloría Social</a>
      <a href="https://consultapublicamx.plataformadetransparencia.org.mx/vut-web/?idSujetoObigadoParametro=4479&idEntidadParametro=21&idSectorParametro=24" target="_blank">Obligaciones de Transparencia</a>
      <a href="https://buap.mx/privacidad" target="_blank">Aviso de Privacidad</a>
      <a href="https://www.buap.mx/sites/default/files/lineamientos-codigo-etica-conducta.pdf" target="_blank">Lineamientos del Código de Ética y Conducta</a>
    </section>

    <section class="flex flex-col text-right text-sm text-azul-cielo">
      <a href="https://buap.mx/calendario-escolar" target="_blank">Calendario Escolar</a>
      <a href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=00000002-0000-0ff1-ce00-000000000000&redirect_uri=https%3a%2f%2foutlook.office365.com%2fowa%2f&resource=00000002-0000-0ff1-ce00-000000000000&response_mode=form_post&response_type=code+id_token&scope=openid&msafed=1&msaredir=1&client-request-id=ebfb25aa-8205-8ba0-fefb-bf0a447df086&protectedtoken=true&claims=%7b%22id_token%22%3a%7b%22xms_cc%22%3a%7b%22values%22%3a%5b%22CP1%22%5d%7d%7d%7d&domain_hint=correo.buap.mx&nonce=638615473269643684.65532061-25e7-45a6-ad46-3be7f99ba61b&state=DcsxEsIgEEZhMCexsYMElv0JRcazLAYrMzjMRDx-KL7XPa2UmobboJcRFUErHIdIHgmBsAYLZvILnPFcogksMLIHGMolvlPKApf1eO9z7TI_W5HPsb1qa6XafMrXHv_Hb9967xc&sso_reload=true" target="_blank">Correo BUAP</a>
      <a href="https://www.boletin.buap.mx/" target="_blank">Prensa</a>
      <a href="https://comunicacion.buap.mx/" target="_blank">Identidad Gráfica</a>
      <a href="https://www.buap.mx/apps-buap" target="_blank">Apps BUAP</a>
      <a href="https://www.buap.mx/#" target="_blank">English Version</a>
    </section>
  </div>

</footer>