<header class="bg-azul-marino">
  <nav class="mx-auto flex max-w-7xl gap-6 py-2 text-white">
    <img src="/buap-escudo.png" alt="Escudo BUAP">

    <ul class="flex items-center gap-4 text-sm">
      <li><a href="/">Institucional</a></li>
      <li><a href="/our">Nosotros</a></li>
      <li><a href="/admision">Admisión</a></li>
      <li><a href="/ofert-educativa">Oferta Educativa</a></li>
      <li><a href="/life">Vida Universitaria</a></li>
      <li><a href="/vic">Vinculación</a></li>
      <li><a href="/contacto">Servicios</a></li>
      <li><a href="/contacto">Transparencia</a></li>
    </ul>
  </nav>
</header>