---
interface Props{
  title: string;
  date: string;
}

const {title, date} = Astro.props;
---
<li  class="border-b border-gray-200 pb-2">
  <a href="#" class="hover:text-blue-600">
    <h4 class="font-medium">{title}</h4>
    <p class="text-sm text-gray-600">{date}</p>
  </a>
</li>