---
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
      <Navbar/>
      <main class="mx-auto max-w-7xl flex-grow px-4 py-8">
        <slot />
      </main>
			<Footer/>
	</body>
</html>

<style is:global>
  body {
  font-family: 'Source Sans 3 Variable', sans-serif;
}
</style>
